*.ini
livro_texto/Vol3_-_Paul_Allen_Tipler,_Gene_Mosca_-_Física_para_Cientistas_e_Engenheiros_-_6ª_Ed.pdf
material_complementar/Física_para_cientistas_e_engenheiros_-_Volume_2,_6ª_Edição,_Paul_Tipler.pdf
material_complementar/Física_Vol_3_-_Beatriz_Alvarenga.pdf
material_complementar/Use_a_Cabeça_-_Física.pdf
material_complementar/videotutoriaProfessorMauricio17MAIO2020.mkv
material_complementar/Fundamentos_de_Física_(Halliday)_Volume_1_Edição_9.pdf
material_complementar/Fundamentos_de_Física_(Halliday)_Volume_4_Edição_9.pdf
video_aulas/Física_para_Computação_Aula_07.webm
video_aulas/Física_para_Computação_Aula_09.webm
video_aulas/Física_para_Computação_Aula_10.mp4
video_aulas/Física_para_Computação_Aula_10.webm
video_aulas/Física_para_Computação_Aula_11.webm
video_aulas/Física_para_Computação_Aula_13.mp4
video_aulas/Física_para_Computação_Aula_13.webm
video_aulas/Física_para_Computação_Aula_17.mp4
video_aulas/Física_para_Computação_Aula_19.webm
video_aulas/Física_para_Computação_Aula_26.webm
